{% extends 'teammail/base.html' %}

{% block content %}
	<h1>Dashboard</h1>
	
	<div id="middle_left" class="span-9 colborder">
		<h2>Teams</h2>
		{% for team in teams %}
			<h3><a href="/admin/teammail/team/{{ team.key }}">{{ team.name }}</a></h3>
			team members:
		    <ul>
			{% for contact in team.contacts %}
				<li>{{ contact }}</li>
	    	{% endfor %}
		    </ul>
	  		<form action="" method="post">
			<input type="text" id="team_{{ forloop.counter0 }}" name="team_{{ forloop.counter0 }}" autocomplete="off" />
	    	<button type="submit" name="add_contact_to_team" value="team_{{ forloop.counter0 }}">Add</button>
	  		</form>
    		<hr/>
		{% endfor %}
    	<h3><em>New</em> Team</h3>
  		<form action="" method="post">
		{{ formAddTeam.non_field_errors }}
		{% for f in formAddTeam %}
			{{ f.errors }}
			{{ f }}
		{% endfor %}
    	<button type="submit" name="action" value="add_team">Add</button>
  		</form>
	</div>

	<div id="middle_right" class="span-9 last">
		<h2>Contacts</h2>
    	<ul>
		{% for contact in contacts %}
			<li><a href="/admin/teammail/contact/{{ contact.key }}">{{ contact }}</a></li>
    	{% endfor %}
    	</ul>
    	<hr/>
		<h3><em>New</em> contact</h3>
  		<form action="" method="post" class="dashboard">
		{{ formAddContact.non_field_errors }}
		{% for field in formAddContact %}
			{{ field.errors }}
			{{ field.label_tag }}{{ field }}<br />
		{% endfor %}
    	<button type="submit" name="action" value="add_contact">Add</button>
		</form>
	</div>	
{% endblock %}




{% block bottom_js %}
{{ block.super }}
<iframe src="javascript:''" id="__gwt_historyFrame" style="width:0;height:0;border:0"></iframe>
<script type="text/javascript">
{% block gwt_js_data %}
var teams = [
	{% for team in teams %}{% if forloop.first %}{% else %}, {% endif %}"{{ team.name }}"{% endfor %}
];

{% for team in teams %}
var team_{{ forloop.counter0 }} = [
	{% for contact in team.contacts %}{% if forloop.first %}{% else %}, {% endif %}"{{ contact.email }}"{% endfor %}
];
{% endfor %}

var contact_keys = [
	{% for contact in contacts %}{% if forloop.first %}{% else %}, {% endif %}"{{ contact.email }}"{% endfor %}
];

var contact_values = [
	{% for contact in contacts %}{% if forloop.first %}{% else %}, {% endif %}"{{ contact|safe }}"{% endfor %}
];
{% endblock gwt_js_data %}
</script>
{% block gwt_module %}
<script src="/gwt/teammailDashboard/nocache.js"></script>
{% endblock gwt_module %}
{% endblock bottom_js %}
