{% extends 'teammail/base.html' %}

{% block content %}
	<h1>{% firstof title 'Dashboard' %}</h1>
	
	<div id="middle_left" class="span-9 colborder">
		<h2>Teams</h2>
		{% for team in teams %}
			{% if forloop.counter0 %}
    			<hr/>
			{% endif %}
			<h3><a href="{% url teammail.views.app_admin_dashboard_team_edit key=team.key %}">{{ team.name }}</a></h3>
			team members:
		    <ul>
			{% for user in team.users %}
				<li>{{ user }}</li>
	    	{% endfor %}
		    </ul>
		    {% if team.assign_form %}
		  		<form action="" method="post">
				{{ team.assign_form.non_field_errors }}
				{% for f in team.assign_form %}
					{{ f.errors }}
					{{ f }}
				{% endfor %}
		    	<button type="submit" name="add_user_to_team" value="team_{{ forloop.counter0 }}">Add</button>
	  			</form>
	  		{% endif %}
		{% endfor %}
		{% if formAddTeam %}
    		<hr/>
    		<h3><em>New</em> Team</h3>
  			<form action="" method="post">
			{{ formAddTeam.non_field_errors }}
			{% for f in formAddTeam %}
				{{ f.errors }}
				{{ f }}
			{% endfor %}
    		<button type="submit" name="action" value="add_team">Add</button>
  			</form>
		{% endif %}
	</div>

	<div id="middle_right" class="span-9 last">
		<h2>Users</h2>
    	<ul>
		{% for user in users %}
			<li><a href="{% url teammail.views.app_admin_dashboard_user_edit key=user.key %}">{{ user }}</a></li>
    	{% endfor %}
    	</ul>
		{% if formAddUser %}
	    	<hr/>
			<h3><em>New</em> user</h3>
  			<form action="" method="post" class="dashboard">
			{{ formAddUser.non_field_errors }}
			{% for field in formAddUser %}
				{{ field.errors }}
				{{ field.label_tag }}{{ field }}<br />
			{% endfor %}
    		<button type="submit" name="action" value="add_user">Add</button>
			</form>
		{% endif %}
	</div>	
{% endblock %}




{% block bottom_js %}
{{ block.super }}
<iframe src="javascript:''" id="__gwt_historyFrame" style="width:0;height:0;border:0"></iframe>
<script type="text/javascript">
{% block gwt_js_data %}
var team_keys = [
	{% for team in teams %}{% if forloop.first %}{% else %}, {% endif %}"{{ team.key }}"{% endfor %}
];

{% for team in teams %}
var team_{{ forloop.counter0 }} = [
	{% for user in team.users %}{% if forloop.first %}{% else %}, {% endif %}"{{ user.email }}"{% endfor %}
];
{% endfor %}

var user_keys = [
	{% for user in users %}{% if forloop.first %}{% else %}, {% endif %}"{{ user.email }}"{% endfor %}
];

var user_values = [
	{% for user in users %}{% if forloop.first %}{% else %}, {% endif %}"{{ user|safe }}"{% endfor %}
];
{% endblock gwt_js_data %}
</script>
{% block gwt_module %}
<script src="/gwt/teammailDashboard/nocache.js"></script>
{% endblock gwt_module %}
{% endblock bottom_js %}


{% block sidebar %}
<div class="box" id="subtoolbox">
    <h4><a href="{% url teammail.views.app_admin_dashboard_stasis %}">stasisboard</a></h4>
</div>
{% endblock sidebar %}
      